name: Python CI/CD
 
on:
  push:
    branches: 
      - main
      - dev
      - feature
  workflow_dispatch:
 
jobs:
  build:
    runs-on: Agent-dev
 
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
 
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
 
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
 
    - name: Run my.py
      run: python my.py
 
    - name: Create artifact
      run: |
        mkdir build
        cp my.py build
        zip myapp.zip build/
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: python-artifact
        path: build/
 
  deploy:
    needs: build
    runs-on: ubuntu-latest
 
    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: python-artifact

    - name : unzip
      run : unzip myapp.zip
 
    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts
 
    - name: Copy files to EC2 (SCP)
      run: |
        scp -i ~/.ssh/id_rsa -r . \
        ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }}:/home/ubuntu/python-app
 
    - name: Run app on EC2 (SSH)
      run: |
        ssh -i ~/.ssh/id_rsa \
        ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
          cd /home/ubuntu/python-app
          python3 -m venv venv
          source venv/bin/activate
          pip install --upgrade pip
          pip install -r requirements.txt
          python my.py
         EOF
