name: Python CI/CD
 
on:
  push:
    branches: 
      - main
      - dev
      - feature
  workflow_dispatch:
 
jobs:
  build:
    runs-on: Agent-dev
 
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
 
    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'
 
    - name: Install dependencies
      run : |
        pip install pipreqs
        pip install -r requirements.txt
      working-directory: actions-runner/_work/_actions/actions/setup-python/v5/__tests__/data
 
    - name: Run my.py
      run: python my.py
 
    - name: Create artifact
      run: |
        mkdir build
        cp my.py build
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: python-artifact
        path: build/
 

